body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
.font_blanka {
    font-family: 'Moon Dance', cursive;
}
.primary_color {
    color: #62A6C9;
}
.small_margin_top {
    margin-top: 100px
}
.no-shadows {
    box-shadow: none!important;
}
.small_font {
    font-size: 38px;
    font-weight: lighter;
}
.smaller_font {
    font-size:15px
}
.light_grey {
    color: rgb(180, 180, 180)
}
.round_icon {
    background-color: #62A6C9;
    padding: 5px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
nav a{
    color: gray!important;
}
nav a:hover{
    color: white!important;
    background-color:#444444!important;
    background: url("tab.png");
    background-repeat: no-repeat;
    background-position: bottom;
}
input[type="search"].searchbar {
    background-color: white;
    height: 35px
}